{% extends 'core/base.html' %}
{% load static %}
{% load custom_filters %}
{% block titulo %}
Panel de Administracion
{% endblock %}
{% block content %}

<h1 class="container">Panel de Administracion</h1>

<div class="container">
        <div class="btn-group btn-group-lg" role="group" aria-label="Basic outlined example">
          {% comment %} <a href="{% url 'usuarios' %}"><button type="button" class="btn btn-outline-primary">Mantenedor de Usuarios</button></a> {% endcomment %}
          <a href="{% url 'admin_productos' 'crear' '0' %}"><button type="button" class="btn btn-outline-primary">Mantenedor de Productos</button></a>
          <a href="{% url 'ventas' %}"><button type="button" class="btn btn-outline-primary">Historial de Ventas</button></a>
          <a href="{% url 'bodega' %}"><button type="button" class="btn btn-outline-primary">Mantenedor de Bodegas</button></a> 
        </div>
    
</div>


{% endblock %}
