
{% extends 'core/base.html' %}
{% load static %}
{% load custom_filters %}

{% block titulo %}


Carrito
{% endblock titulo %}
{% block content %}

<section class="bg-white py-8 antialiased dark:bg-gray-900 md:py-16">
    <div class="mx-auto max-w-screen-xl px-4 2xl:px-0">
      <h2 class="text-xl font-semibold text-gray-900 dark:text-white sm:text-2xl">Shopping Cart</h2>
  
      <div class="mt-6 sm:mt-8 md:gap-6 lg:flex lg:items-start xl:gap-8">



        <div class="mx-auto w-full flex-none lg:max-w-2xl xl:max-w-4xl">

          <div class="space-y-6">
            {% if detalle_carrito %}
            {% for item in detalle_carrito %}
            <div class="rounded-lg border border-gray-200 bg-white p-4 shadow-sm dark:border-gray-700 dark:bg-gray-800 md:p-6">
              <div class="space-y-4 md:flex md:items-center md:justify-between md:gap-6 md:space-y-0">
                
                {% comment %} producto imagen    {% endcomment %}
                <a href="{% url 'ficha' item.producto.id %}" class="shrink-0 md:order-1">
                  <img class="hidden h-20 w-20 dark:block" src="/media/{{ item.producto.imagen }}" alt="imac image" />
                </a>
  
                <div class="flex items-center justify-between md:order-3 md:justify-end">

                    <div class="text-end md:order-4 md:w-32">
                        <p class="text-base font-bold text-gray-900 dark:text-white">{{ item.precio|formatear_dinero }}</p>
                        <p class="text-base font-bold text-red-900 dark:text-red-900">{{ item.descuentos|formatear_dinero }}</p>
                        <p class="text-base font-bold text-green-200 dark:text-green-200">{{ item.precio_a_pagar|formatear_dinero }}</p>


                
                    </div>
                    
                </div>
  
                <div class="w-full min-w-0 flex-1 space-y-4 md:order-2 md:max-w-md">
                  <a href="{% url 'ficha' item.producto.id %}" class="text-base font-medium text-gray-900 hover:underline dark:text-white">
                    {{ item.id }} {{ item.producto.nombre }} {{ item.producto.categoria.nombre }} 


                </a>
  
                  <div class="flex items-center gap-4">
                    <button onclick="window.location.href='{% url 'ficha' item.producto.id %}'" type="button" class="inline-flex items-center text-sm font-medium text-gray-500 hover:text-gray-900 hover:underline dark:text-gray-400 dark:hover:text-white">
                      <svg class="me-1.5 h-5 w-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12.01 6.001C6.5 1 1 8 5.782 13.001L12.011 20l6.23-7C23 8 17.5 1 12.01 6.002Z" />
                      </svg>
                      Detalles
                    </button>
  
                    <button onclick="window.location.href='{% url 'eliminar_producto_en_carrito' item.id %}'" type="button" class="inline-flex items-center text-sm font-medium text-red-600 hover:underline dark:text-red-500">
                      <svg class="me-1.5 h-5 w-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18 17.94 6M18 18 6.06 6" />
                      </svg>
                      Eliminar
                    </button>
                  </div>

                  <div class="flex items-center gap-4">
                    <p class="inline-flex items-center text-sm font-medium text-gray-500 hover:text-gray-900 hover:underline dark:text-gray-400 dark:hover:text-white">

                      % Subscriptor  {{ item.descuento_subscriptor|formatear_porcentaje }} 
                    </p>
  
                    <p class="inline-flex items-center text-sm font-medium text-red-600 hover:underline dark:text-red-500">

                      % Oferta {{ item.descuento_oferta|formatear_porcentaje }}
                    </p>
                    <p class="inline-flex items-center text-sm font-medium text-red-600 hover:underline dark:text-red-500">

                        % Total {{ item.descuento_total|formatear_porcentaje }}
                    </p>


                  </div>
                </div>
              </div>
            </div>

            {% endfor %}
            {% else %}
            <!-- Mensaje cuando no hay productos en el carrito -->
                <p class="text-gray-900 dark:text-white text-lg font-semibold">Tu carrito está vacío</p>
                <p class="text-gray-500 dark:text-gray-400">Agrega productos al carrito para continuar.</p>
            {% endif %}
        </div>

        </div>

        


        
  
        <div class="mx-auto mt-6 max-w-4xl flex-1 space-y-6 lg:mt-0 lg:w-full">
          <div class="space-y-4 rounded-lg border border-gray-200 bg-white p-4 shadow-sm dark:border-gray-700 dark:bg-gray-800 sm:p-6">
            <p class="text-xl font-semibold text-gray-900 dark:text-white">Order summary</p>
  
            <div class="space-y-4">
              <div class="space-y-2">
                <dl class="flex items-center justify-between gap-4">
                  <dt class="text-base font-normal text-gray-500 dark:text-gray-400">Precio Sin IVA</dt>
                  <dd class="text-base font-medium text-gray-900 dark:text-white">{{ monto_sin_iva|formatear_dinero }}</dd>
                </dl>
  
                <dl class="flex items-center justify-between gap-4">
                  <dt class="text-base font-normal text-gray-500 dark:text-gray-400">Valor del IVA 19%</dt>
                  <dd class="text-base font-medium text-red-600">{{ iva|formatear_dinero }}</dd>
                </dl>
  
                
  

              </div>
  
              <dl class="flex items-center justify-between gap-4 border-t border-gray-200 pt-2 dark:border-gray-700">
                <dt class="text-base font-bold text-gray-900 dark:text-white">Total a Pagar</dt>
                <dd class="text-base font-bold text-gray-900 dark:text-white">{{ total_a_pagar|formatear_dinero }}</dd>
              </dl>
            </div>
  
            <a href="#" class="flex w-full items-center justify-center rounded-lg bg-primary-700 px-5 py-2.5 text-sm font-medium text-white hover:bg-primary-800 focus:outline-none focus:ring-4 focus:ring-primary-300 dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">Proceed to Checkout</a>
  
            <div class="flex items-center justify-center gap-2">
              <span class="text-sm font-normal text-gray-500 dark:text-gray-400"> or </span>
              <a href="#" title="" class="inline-flex items-center gap-2 text-sm font-medium text-primary-700 underline hover:no-underline dark:text-primary-500">
                Continue Shopping
                <svg class="h-5 w-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 12H5m14 0-4 4m4-4-4-4" />
                </svg>
              </a>
            </div>
          </div>
  
          <div class="space-y-4 rounded-lg border border-gray-200 bg-white p-4 shadow-sm dark:border-gray-700 dark:bg-gray-800 sm:p-6">
            <form class="space-y-4">
              <div>
                <label for="voucher" class="mb-2 block text-sm font-medium text-gray-900 dark:text-white"> Do you have a voucher or gift card? </label>
                <input type="text" id="voucher" class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 focus:border-primary-500 focus:ring-primary-500 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder:text-gray-400 dark:focus:border-primary-500 dark:focus:ring-primary-500" placeholder="" required />
              </div>
              <button type="submit" class="flex w-full items-center justify-center rounded-lg bg-primary-700 px-5 py-2.5 text-sm font-medium text-white hover:bg-primary-800 focus:outline-none focus:ring-4 focus:ring-primary-300 dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">Apply Code</button>
            </form>
          </div>
        </div>
      </div>
    </div>
</section>






{% comment %} <h1 class="container mt-4 text-center">Carrito</h1>

<table id="tabla-principal" class="table table-hover">
  <thead>
      <tr>
          <th> ID </th>
          <th> Categoría </th>
          <th> Producto </th>
          <th> Precio </th>
          <th> % Descto <br> Subscriptor </th>
          <th> % Descto <br> Oferta </th>
          <th> % Descto <br> Total </th>
          <th class="text-end"> Descuentos </th>
          <th class="text-end"> Precio a pagar </th>
          <th> Opciones </th>
      </tr>
  </thead>
  <tbody>
      {% for item in detalle_carrito %}
          <tr>
              <td> {{ item.id }} </td>
              <td> {{ item.producto.categoria.nombre }} </td>
              <td> {{ item.producto.nombre }} </td>
              <td> {{ item.precio|formatear_dinero }} </td>
              <td> {{ item.descuento_subscriptor|formatear_porcentaje }} </td>
              <td> {{ item.descuento_oferta|formatear_porcentaje }} </td>
              <td> {{ item.descuento_total|formatear_porcentaje }} </td>
              <td class="text-end"> {{ item.descuentos|formatear_dinero }} </td>
              <td class="text-end"> {{ item.precio_a_pagar|formatear_dinero }} </td>
              <td>
                  <div class="btn-group">
                      <a href="{% url 'ficha' item.producto.id %}" class="btn btn-sm btn-primary"> Detalle </a> 
                      <a href="{% url 'eliminar_producto_en_carrito' item.id %}" class="btn btn-sm btn-danger"> Eliminar </a> 
                  </div>
              </td>
          </tr>
      {% endfor %}
  <tfoot>
      <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td class="fw-bold"> Precio sin IVA </td>
          <td class="fw-bold text-end"> {{ monto_sin_iva|formatear_dinero }} </td>
          <td></td>
      </tr>
      <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td class="fw-bold"> Valor del IVA (19%) </td>
          <td class="fw-bold text-end"> {{ iva|formatear_dinero }} </td>
          <td></td>
      </tr>
      <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td class="fw-bold"> Total a pagar </td>
          <td class="fw-bold text-end"> {{ total_a_pagar|formatear_dinero }} </td>
          <td></td>
      </tr>
  </tfoot>
  </tbody>
</table> {% endcomment %}
{% endblock %}   