
{% extends 'core/base.html' %}
{% load static %}
{% load custom_filters %}
{% block titulo %}
{{ titulo }}
{% endblock %}
{% block content %}




<div class="container mx-auto py-5 px-6">
  <div class="single-item flex justify-center">
      <div><img class="  rounded-lg" src="{% static 'core/img/images/home/banner-1.jpg' %}" alt=""></div>
      <div><img class="  rounded-lg" src="{% static 'core/img/images/home/banner-2.png' %}" alt=""></div>

  </div>
</div>
{% comment %} <a href="{% url 'poblar' %}" clas="btn btn-danger">POBLAR BASE DE DATOS</a> {% endcomment %}

<div class="container mx-auto py-5 px-6">
  <h3 class="text-3xl font-bold">Productos Destacados</h3>

</div>

<div class="container mx-auto py-5 px-6"> 
  {% if productos %}

  <div class="product-card items-center justify-center">
    {% for producto in productos %}
    <div class="w-auto max-w-sm bg-gray-200 border-gray-200 rounded-lg shadow">
      <a href="{% url 'ficha' producto.id %}">
        <img class="p-8 rounded-t-lg" src="{{ producto.imagen.url }}" alt="product image" />
      </a>
      <div class="px-5 pb-5">
        <a href="#" class="">
          <h5 class="tracking-tight">{{ producto.nombre }}</h5>
        </a>
        
        
        
        <div class="flex items-center mt-2.5 mb-5">
          <div class="flex items-center space-x-1 rtl:space-x-reverse">
                    <h5 class="">{{ producto.html_estado|safe }}</h5>
          </div>
          </div>
          <div class="flex items-center justify-between">
                  <span class="">{{ producto.html_precio|safe }}</span>
          </div>


          <div class="flex items-center justify-center">
            <a href="{% url 'ficha' producto.id %}" class="text-white bg-rose-600 hover:bg-rose-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center  flex-1">Quiero Ver Más</a>
          </div>


          <div class="flex items-center justify-between">
            <span class="">{{ producto.html_stock|safe }}</span>
          </div>



          </div>
      </div>
    {% endfor %}
  </div>

  {% else %}

  {% if buscar %}
  <div class="container mx-auto py-5 px-6">
    <h3 class="text-3xl font-bold">No se encontro {{ buscar }}</h3>
  
  </div>


  {% else %}

    <div class="container mx-auto py-5 px-6">
      <h3 class="text-3xl font-bold">No hay Datos</h3>
    
    </div>
  {% endif %}

  {% endif %}
</div>








<section class="">
  <div class="py-8 px-4 mx-auto max-w-screen-xl text-center lg:py-16 lg:px-12">

      <h1 class="mb-4 text-4xl font-extrabold tracking-tight leading-none ">OFERTA IRRESISTIBLE</h1>
      <p class="mb-8 text-lg font-normal lg:text-xl sm:px-16 xl:px-48">Por compras SUPERIORES a $ 20.000 ya estas concursando por una prenda
        de vestir</p>
      <div class="flex flex-col mb-8 lg:mb-16 space-y-4 sm:flex-row sm:justify-center sm:space-y-0 sm:space-x-4">
          <a href="{% url 'ropa' %}" class="bg-rose-600 text-white inline-flex justify-center items-center py-3 px-5 text-base font-medium text-center rounded-lg bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 ">
              Quiero saber más
              <svg class="ml-2 -mr-1 w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
          </a>

      </div>

  </div>
</section>

<section class="">
  <div class="py-8 px-4 mx-auto max-w-screen-xl text-center lg:py-16 lg:px-12">

      <h1 class="mb-4 text-4xl font-extrabold tracking-tight leading-none ">CUPON DE DESCUENTO</h1>
      <p class="mb-8 text-lg font-normal lg:text-xl sm:px-16 xl:px-48">Ahorra al máximo con nuestro cupón: ¡Descuento exclusivo!
        de vestir</p>
      <div class="flex flex-col mb-8 lg:mb-16 space-y-4 sm:flex-row sm:justify-center sm:space-y-0 sm:space-x-4">
          <button  id="copy-email" class="bg-rose-600 text-white inline-flex justify-center items-center py-3 px-5 text-base font-medium text-center rounded-lg bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 ">
            OBTENER DESCUENTO
              
          </button>

      </div>

  </div>
</section>




<section>

  <div class="py-8 px-4 mx-auto max-w-screen-xl text-center lg:py-16 lg:px-12">

      <h1 class="mb-4 text-4xl font-semibold tracking-tight leading-none ">Nuestras Marcas</h1>

      <div class="grid gap-x-8 gap-y-4 grid-cols-2 sm:grid-cols-4">
        <div class="">
          <img src="{% static 'core/img/images/brands/hills.jpg' %}" style="height: 200px;" alt="">

        </div>
        <div>
          <img src="{% static 'core/img/images/brands/nutra_nuggets.jpg' %}" style="height: 200px;" alt="">

        </div>
        <div>
          <img src="{% static 'core/img/images/brands/purina_pro_plan.png' %}" style="height: 200px;" alt="">

        </div>

        <div>
          <img src="{% static 'core/img/images/brands/royal_canin.jpg' %}" style="height: 200px;" alt="">

        </div>
      </div>

  </div>

</section>







{% endblock %}

{% block script %}
<script src="{% static 'core/js/index.js' %}"></script>

{% endblock script %}