
{% extends 'core/base.html' %}
{% load static %}
{% block titulo %}
Iniciar Sesion
{% endblock titulo %}
{% block content %}

<!--
  This example requires some changes to your config:
  
  ```
  // tailwind.config.js
  module.exports = {
    // ...
    plugins: [
      // ...
      require('@tailwindcss/forms'),
    ],
  }
  ```
-->
<!--
  This example requires updating your template:

  ```
  <html class="h-full bg-white">
  <body class="h-full">
  ```
-->
<div class="flex min-h-full flex-col justify-center px-6 py-8 lg:px-8">

  <div class="sm:mx-auto sm:w-full sm:max-w-sm">
    <h2 class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900">{{ mensaje }}</h2>
  </div>
  

  <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
    <form class="space-y-6" method="POST" id="form">
      {% csrf_token %}
      <div>
          <label for="username" class="block text-sm font-medium leading-6 text-gray-900">Ingrese el nombre de usuario</label>
          <div class="mt-2">
              <input id="username" name="username" type="text" autocomplete="username" required
                  class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
          </div>
      </div>
  
      <div>
          <div class="flex items-center justify-between">
              <label for="password" class="block text-sm font-medium leading-6 text-gray-900">Ingrese la contraseña</label>
              <!-- <div class="text-sm">
                  <a href="#" class="font-semibold text-indigo-600 hover:text-indigo-500">Forgot password?</a>
              </div> -->
          </div>
          <div class="mt-2">
              <input id="password" name="password" type="password" autocomplete="current-password" required
                  class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
          </div>
      </div>
  
      <div>
          <button type="submit"
              class="flex w-full justify-center rounded-md bg-indigo-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Iniciar
              Sesión</button>
      </div>
    </form>
  

    <p class="mt-10 text-center text-sm text-gray-500">
      ¿No tienes Cuenta?
      <a href="{% url 'registro' %}"  class="font-semibold leading-6 text-indigo-600 hover:text-indigo-500">Registrate Ahora!</a>
    </p>

    {% if messages %}
    {% for message in messages %}
    <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
      <strong class="font-bold">{{ message }}</strong>


    </div>

    {% endfor %}
    {% endif %}
  </div>
</div>






{% endblock %}
{% block script %}
<script src="{% static 'core/js/login.js' %}"></script>

{% endblock script %}